html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

/* main page */

.list-songs-title {
  padding: 10px 0;
  background: #492e7c;
  text-align: center;
}

.list-songs-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-songs-content {
  padding: 0 0 80px;
  flex: 1;
}

.raagashelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .raagashelf {
    padding: 0 20px 40px;
  }
}

.raagashelf-title {
  border-bottom: 1px solid #dedede;
}

.raagashelf-songs {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.open-search button:hover {
  background-color: rgb(0, 102, 0);
}


/* search page */

.search-songs-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  background: white;
}

.search-changer {
   height: calc(1.5em + .75rem + 2px);
   padding: .375rem 1.75rem .375rem .75rem;
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 1.5;
   vertical-align: middle;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.search-songs-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-songs-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-songs-results {
  padding: 80px 10px 20px;
}
.showing-album {
  text-align: center;
  margin: 18px 0;
}
.showing-album button {
  color: blue;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.show-counts {
  position: fixed;
  right: 25px;
  color: blue;
  bottom: 10px;
  font-size: 0.4em;
}

/* songs grid */

.songs-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.songs-grid li {
  padding: 10px 15px;
  text-align: left;
}

.song {
  width: 140px;
}

.song-title,
.song-authors {
  font-size: 1em;
}

.song a {
color: inherit;
}

.song-title {
  margin-top: 10px;
}

.song-authors {
  color: #999;
}

.song-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.song-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.song-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* song cover */

.song-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

.song-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
